# Env variables
.env

# Cache
**/__pycache__

# Virtual Env
/server_venv

/documents/*
/scraped_papers/*

/nlp/documents/*

/logs

# Additional Python files
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# IDE
.vscode/
.idea/